<!DOCTYPE html>
<html lang="es">
  <%- include ("../partials/head") %>
  <body>
    <%- include ("../partials/header") %>
    <main>
        <section id="banner">
            <figure>
                <img src="/img/banner.jpg" alt="banner home">
            </figure>
            <article>
                <h2 class="merriweather-bold">Bienvenidos a E-NEA</h2>
                <h3 class="open-regular">Somos un equipo de neuro estimulación con una amplia experiencia en el campo</h3>
                <a class="open-bold" href="/nosotros">Conocé nuestra historia</a>
            </article>
        </section>
        <section id="icons">
            <article>
                <i class="fas fa-calendar"></i>
                <h3><a href="/usuario/turnos">Solicitá tu turno</a></h3>
            </article>
            <article>
                <i class="fas fa-users"></i>
                <h3><a href="/equipo">Nuestro Staff</a></h3>
            </article>
            <article>
                <i class="fas fa-book-open"></i>
                <h3><a href="/blog">Visitá nuestro Blog</a></h3>
            </article>
        </section>
    </main>
    <%- include ("../partials/footer") %>
  </body>
</html>
