main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}
#banner{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative;
}
#banner img{
    height: 100%;
}
#banner figure{
    position: absolute;
    z-index: -1;
    width: 100%;
}

#banner article{
    flex: 1 0 100%;
    background-color: rgba(28, 28, 28, 0.7);
    align-self: stretch;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
    color: white;
}
#banner article h3{
    margin: 1rem 0;
}
#banner article h2 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
#banner article a{
    text-decoration: none;
    background-color: #18a7ad;
    padding: 0.5rem;
    color: snow;
    text-align: center;
    border-radius: 0.25rem;
}

@media screen and (min-width: 1200px){
    #banner img{
        width: 100%;
        height: auto;
    }
    #banner article a{
        width: 25%;
        font-size: 1.4rem;
        padding: 1.2rem 0;
        border-radius: 0.5rem;
        transition: all .3s ease-in-out;
    }
    #banner article h3{
        font-size: 1.2rem;
        margin:2rem 0;
    }
    #banner article h2{
        font-size: 1.3rem;
        letter-spacing: 0.4rem;
    }
    #banner article a:hover{
        background-color: rgba(24, 168, 173, 0.7);
    }
}

#icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100vw;
    padding: 1rem;
}
#icons article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 0.2rem solid #18a7ad;
    flex: 1 0 100%;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
}
#icons article i{
    color: #18a7ad;
    font-size: 2rem;
}
#icons a{
    text-decoration: none;
    color: #3f3f3f;
    margin-top: 0.5rem;
}


@media screen and (min-width: 1200px) {
    #icons{
        justify-content:space-around;
        align-items: flex-start;
    }
    #icons article{
        flex: 0 0 25%;
    }
    #icons article i{
        font-size: 4rem;
        margin-top: 1rem;
    }
    #icons article a{
        font-size:1.5rem;
        margin-top: 1rem;
        padding: 0.5rem;
        transition: all .3s ease-in-out;
    }
    #icons article a:hover{
        border: 0.25rem solid #18a7ad;
        color: rgba(24, 167, 173, 0.7);
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
}