<footer>
    <section>
        <article>
            <a href="/nosotros">Nosotros</a>
            <a href="/servicios">Servicios</a>
            <a href="/equipo">Nuestro equipo</a>
            <a href="/contacto">Contacto</a>
        </article>
        <article>
            <h2>Suscribite a nuestro Blog</h2>
            <form action="/usuario/blog" method="post">
                <fieldset>
                    <input type="email" placeholder="Ingrese su correo" name="correo">
                    <button type="submit">Suscribirse</button>
                </fieldset>
            </form>
            <nav>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
            </nav>
        </article>
        <article>
            <h2>Contacto</h2>
            <h3><i class="fas fa-map-marker"></i>Ambrosetti 27, C.A.B.A.</h3>
            <h3><i class="fas fa-phone"></i>Líneas rotativas: (011) 5031-2343</h3>
            <h3><i class="fas fa-clock"></i>Turnos: Lunes a Viernes de 9:00 a 18:00</h3>
        </article>
    </section>
    <section>
        <h3>Copywright &copy Grupo Salud 2021 | Todos los derechos reservados</h3>
    </section>
</footer>