<header> 
    <a href="/" id="logo">
        <figure>
            <img src="/img/logo.jpg" alt="logo">
        </figure>
    </a>
    <a href="#menu" id="burguer">
        <i class="fas fa-bars"></i>
    </a>
    <%- include("./nav") %>    
</header>